<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.richard.novel">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.richard.novel.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".common.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity
            android:name=".view.main.activity.SplashActivity"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 友盟QQ登录 开始 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59b13adc4544cb465900010a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106309587" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101450625" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.richard.novel.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟QQ登录 结束 -->


        <!-- 极光推送 -->
        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".common.receiver.JPBroadcastReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.richard.novel" />
            </intent-filter>
        </receiver>
        <!-- 极光推送结束 -->

        <activity android:name=".view.main.activity.GuideActivity" />
        <activity
            android:name=".view.main.activity.SignInActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.main.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.home.activity.BookDetailActivity" />
        <activity android:name=".reader.ReadActivity" />
        <activity android:name=".view.home.activity.BookSearchActivity" />
        <activity android:name=".view.home.activity.ChangeCategoryActivity" />
        <activity android:name=".reader.MoreSettingActivity" />
        <activity android:name=".view.user.activity.AccountActivity" />
        <activity android:name=".view.user.activity.ReadTimeActivity" />
        <activity android:name=".view.user.activity.InviteActivity" />
        <activity android:name=".view.user.activity.GiftListActivity" />
        <activity android:name=".view.user.activity.GiftBuyRecordActivity"></activity>
    </application>

</manifest>